<h1>{{pageTitle}}&nbsp;

  <mat-slide-toggle class="plr-15" color="primary"
                   [(ngModel)]="showOperatingHours">{{showOperatingHours ? 'Hide' : 'Show' }} Library Hours
  </mat-slide-toggle>

</h1>

<div [hidden]="!showOperatingHours">

  <mat-card>
    <mat-card-subtitle><h2><strong>Operating Hours</strong></h2></mat-card-subtitle>
    <mat-card-subtitle>{{startTime}} - {{endTime}} (Mon - Fri) </mat-card-subtitle>
  </mat-card>

</div>

<div>

    <mat-list>
      <mat-card *ngFor="let book of books">
        <div class="md-3-line">
          <mat-icon mat-list-icon>book</mat-icon>
          <h3><strong>{{book.title}}</strong></h3>
          <p>{{book.author}}</p>
          <p>{{book.rating}}</p>
        </div>
      </mat-card>
    </mat-list>

</div>

